[defaults]
inventory         = inventory.ini
remote_user       = ubuntu
private_key_file  = ~/.ssh/id_rsa
host_key_checking = False
stdout_callback   = default
callbacks_enabled = profile_tasks
result_format     = yaml

[ssh_connection]
pipelining = True
